*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main{
    background: url("./bg/Group\ 1000001770.svg") no-repeat center ;
    background-size: cover;
}
header div div{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 40px;
}
.container{
    width: 80%;
    margin: 0px auto;
    padding: 30px 10px 30px 10px;
}
.header-wrapper > nav > a{
    text-decoration: none;
    color: #ffff;
}
.banner-wrapper h2{
    font-family: "Poppins", sans-serif;
    font-size: 94px;
    font-weight: 700;
    color: #ffff;
}
.banner-wrapper h2 span{
    display: block;
    text-align: center;
    margin-top: -19px;
}
.banner-wrapper p span{
    display: block;
    text-align: center;
    color: #ffff;
}
.banner-wrapper p{
    padding: 63px 0px 75px 0px;
}
.banner-wrapper a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    background-color: black;
    border-radius: 26px;
    gap: 10px;
}
.banner-wrapper a span:nth-child(1){
    color: #ffff;
}
.banner-wrapper a span:nth-child(2){
    margin-top: 6px;
}
.banner-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-banner{
    display: flex;
    margin-top: 65px;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.clogo{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-evenly;
}
.middle-banner h4{
    font-size: 19px;
    color: rgba(178, 183, 190, 1);
    font-weight: 600px;
}
.all-solution div div h2{
    color: rgba(27, 27, 235, 1);
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0px 25px 0px;
}
.all-solution div div p{
    font-size: 16px;
    color: rgba(66, 102, 102, 1);
    padding-bottom: 40px;
}
.all-solution div div h4{
    font-size: 30px;
    color: rgba(65, 65, 65, 1);
    font-weight: 600;
}
.Solution{
    background-color: rgba(235, 235, 235, 1);
}
.t-r{
    display: block;
}
.all-solution div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-solution{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px auto;
    gap: 90px;
}
.all-solution>div>div>a{
    margin-bottom: 30px;
}
.all-solution div>div{
    display: flex;
    flex-direction: column;
}
.all-solution div>img{
    width: 30%;
}
.change div{
    order: 2;
}
.solution-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.solution-wrapper >h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.solution-wrapper p span{
    text-align: center;
    font-size: 16px;
}
.nh2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no{
    display: flex;
    justify-content: space-around
}
.s3 > div{
    flex-direction: column;
    align-items: center;
}
.s3>div span{
    text-align: center;
}
.s3 > div h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ffff;
}
.s3>div>p{
    margin: 20px 0px 100px 0px;
}
.s3{
    padding: 110px 0px;
    background-color: rgba(35, 26, 54, 1);
}
.s3 div p{
    color: rgba(123, 146, 146, 1);
}
.s4-header>div{
    display: flex;
    justify-content: center;
}
.s4-header>div>img{
    margin-top: -19px;
}
.s4-wrapper{
    display: flex;
    justify-content: space-around;
}
.s4-header div h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.s4 p{
    color: rgba(66, 102, 102, 1);
    font-size: 16px;
}
.s4-header{
    text-align: center;
}
.s4-wrapper div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
}
.s4-wrapper div p{
    margin-top: -48px;
}
.s4-wrapper div h4{
    font-size: 16px;
    color: rgba(109, 109, 109, 1);
    margin: 20px 0px;
}
.t-r2{
    display: block;
    color: #ffff;
    text-align: center;
}
.footer nav{
    display: flex;
    gap: 20px;
}
.footer-nav>a{
    text-decoration: none;
    color: #000000;
}
footer div div div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer>div{
   margin-top: 60px; 
}
footer>div>div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
footer>div>div>hr{
    width: 80%;
    margin: 0px auto;
    margin-top: 40px;
}
footer{
    margin: 60px 0px 120px 0px;
}
.no{
    gap: 20px;
}
@media only screen and (max-width: 500px) {
  .t-r{
    display: block;
  }
  .t-r2{
    display: inline;
  }
  .header-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main>section div div h2 span{
    font-size: 40px;
    padding-top: 10px;
  }
  .middle-banner h4{
    text-align: center;
  }
  .solution-wrapper{
    text-align: center;
    font-size: small;
  }
  .all-solution div{
    display: block;
    flex-wrap: wrap;
 
  }
  .all-solution div img{
    width: 100%;
  }
  .all-solution{
    width: 100%;
  }
  .no{
    flex-wrap: wrap;
  }
  .s3 div h2 span{
    text-align: center;
  }
  .s4-header div {
    flex-wrap: wrap;
}
.s4-header div img{
    display: none;
}

}
@media only screen and (max-width: 1100px) {
    .clogo{
        size: 20%;
        flex-wrap: wrap;
    }
    .all-solution{
        width: 100%;
    }
    .no{
        flex-wrap: wrap;
    }
    .s3 div h2 span{
        text-align: center;
    }
    .s4-header div img{
        width: 45px;
    }
    .s4-header >p{
        padding: 30px 0px;
    }
}
@media only screen and (max-width: 650px) {
    .all-solution div{
            display: block;
          }
          .all-solution div img{
            width: 100%;
          }
          .all-solution{
            width: 100%;
          } 
          .solution-wrapper{
            text-align: center;
            font-size: small;
          }
          .all-solution>div>div>a{
            width: 60%;
          }
          .no{
            flex-wrap: wrap;
          }
}
@media only screen and (max-width: 800px) {
    .s4-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .s4-wrapper div h4 span{
        text-align: center;
    }
    footer div div div{
        flex-direction: column;
        gap: 30px;
    }
}